:root {
    --primary-color: #1770ff;
    --secondary-color: #fff;
    --background-color: #c5dbff;
    --text-color: #333;
    --font-family: 'Arial, sans-serif';
}
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
div#header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
}
h1 {
    color: var(--text-color);
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: var(--text-color);
    text-align: center;
}
div#footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--secondary-color);
}